:root {
	--border: 1px solid #ccc;
	--fancy-yellow: #fba823;
	--fancy-red: #c3423f;
	--fancy-black: #1c1d21;
	--fancy-blue: #157a6e;
	--fancy-green: #499f68;
	--fancy-white: #f0f0f0;
	--content-width: 1200px;
	--default-radius: 10px;
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--fancy-black);
}

body {
	background-color: var(--fancy-yellow);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

@font-face {
	font-family: Cursive-regular;
	src: url("../fonts/EduNSWACTCursive-Regular.ttf");
}

h1,
h2,
h3 {
	font-family: Cursive-regular;
}

/* user card */

#user-card {
	display: none; /* not displayed by default, only to logged in users */
	align-items: center;
	gap: 10px;
}

#user-speech {
	border-radius: var(--default-radius);
	background-color: var(--fancy-white);
	padding: 15px;
	height: 100%;
}

#user-speech p,
#user-speech span {
	color: var(--fancy-black);
}

#user-fav {
	color: var(--fancy-green) !important;
}

#user-fav.nofave {
	color: var(--fancy-red) !important;
}

#user-avatar {
	background-color: var(--fancy-white);
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

/* login buttons */
.big-btn {
	border: none;
	border-radius: var(--default-radius);
	font-size: 18px;
	padding: 10px;
	color: var(--fancy-black);
}
.big-btn:hover {
	cursor: pointer;
}
#register-dialog-btn {
	background-color: var(--fancy-yellow);
}
#login-dialog-btn {
	background-color: var(--fancy-white);
}

/* section */

section {
	width: var(--content-width);
	padding: 30px;
	background-color: var(--fancy-black);
	border-radius: var(--default-radius);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.section-header {
	color: var(--fancy-white);
	margin: 0;
}

section p,
section span {
	color: var(--fancy-white);
}

/* table */

table {
	border-spacing: 0;
	margin: 0;
	padding: 0;
	background-color: var(--fancy-white);
	width: 65%;
}

th {
	background-color: var(--fancy-yellow);
	color: var(--fancy-black);
	border-bottom: 1px solid black;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: left;
	position: sticky;
	top: 0;
}

td {
	border-bottom: var(--border);
	padding: 0.5em 1em;
}

.highlight {
	font-weight: bold;
	background-color: lightgray !important;
}

#split {
	display: flex;
	gap: 10px;
	width: 100%;
}

#split-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;
	width: 50%;
	height: 100%;
	position: sticky;
	top: 0;
}

.form-container {
	padding: 10px;
	box-sizing: border-box;
	background-color: var(--fancy-white);
	border-radius: var(--default-radius);
}

form {
	display: flex;
	flex-wrap: wrap;
}

form select {
	padding: 5px;
	font-size: 1em;
}

form input[type="submit"] {
	background-color: var(--fancy-blue);
	color: var(--fancy-white);
}

form input[type="submit"]:hover {
	background-color: var(--fancy-green);
	cursor: pointer;
}

form input[type="submit"]:active {
	background-color: var(--fancy-blue);
}

.filtering-option {
	width: 50%;
	height: 100%;
	justify-content: stretch;
}

.checkbox-group {
	display: flex;
	gap: 5px;
	justify-content: baseline;
}

#grand-map {
	width: 100%;
	height: 300px;
	border-radius: var(--default-radius);
}

#grand-map span,
#grand-map p,
#grand-map h3 {
	color: var(--fancy-black);
}

/* dialog */

dialog {
	position: fixed;
	top: 0;
	right: 0;
	border: var(--border);
	border-radius: var(--default-radius);
	max-height: 90%;
	overflow-y: scroll;
	padding: 0;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.dialog-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
	padding: 10px;
}

.dialog-top h2 {
	margin: 0;
}

.dialog-body {
	padding: 30px;
	padding-top: 0;
}

.close-btn {
	border: none;
	border-radius: var(--default-radius);
	background-color: var(--fancy-red);
	color: #fff;
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
}

/* login dialog */
.login-form {
	flex-direction: column;
	gap: 10px;
}

footer {
	background-color: var(--fancy-black);
	width: 100%;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.footer-link p {
	color: #ccc;
	text-decoration: none;
}

.footer-img {
	height: 1em;
}
