:root {
	--border: 1px solid #ccc;
	--fancy-yellow: #fba823;
	--fancy-red: #c3423f;
	--fancy-black: #1c1d21;
	--fancy-blue: #157a6e;
	--fancy-green: #499f68;
	--fancy-white: #f0f0f0;
	--content-width: 1200px;
	--default-radius: 10px;
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--fancy-black);
}

body {
	background-color: var(--fancy-white);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

@font-face {
	font-family: Cursive-regular;
	src: url("../fonts/EduNSWACTCursive-Regular.ttf");
}

h1,
h2,
h3 {
	font-family: Cursive-regular;
}

.hero-img {
	width: var(--content-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom-left-radius: var(--default-radius);
	border-bottom-right-radius: var(--default-radius);
}

#registered {
	display: none; /* not displayed by default, only to logged in users */
}

section {
	width: var(--content-width);
	padding: 30px;
	background-color: var(--fancy-yellow);
	border-radius: var(--default-radius);
	display: flex;
	flex-direction: column;
}

.section-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	background-color: var(--fancy-white);
}

th {
	background-color: var(--fancy-black);
	color: #ccc;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: left;
}

td {
	border-bottom: var(--border);
	padding: 0.5em 1em;
}

.highlight {
	font-weight: bold;
	background-color: lightgray !important;
}

dialog {
	position: fixed;
	top: 0;
	right: 0;
	border: var(--border);
	max-height: 90%;
	overflow-y: scroll;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.dialog-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
}

.dialog-top h2 {
	margin: 0;
}

#close-btn {
	border: none;
	border-radius: var(--default-radius);
	background-color: var(--fancy-red);
	color: #fff;
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
}

#open-filters {
	border: none;
	border-radius: var(--default-radius);
	background-color: var(--fancy-red);
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 10px;
}

#open-filters:hover {
	cursor: pointer;
}

form {
	display: none;
}

.visible-form {
	display: flex;
	gap: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: var(--fancy-white);
	border-radius: var(--default-radius);
}

.checkbox-group {
	display: flex;
	gap: 5px;
	justify-content: baseline;
}
