:root{
  --border: 1px solid #ccc;
  --fancy-yellow: #FBA823;
  --fancy-red: #C3423F;
  --fancy-black: #1C1D21;
  --fancy-blue: #157A6E;
  --fancy-green: #499F68;
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: var(--fancy-black);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: var(--fancy-black);
  color: #ccc;
  border-bottom: var(--border);
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: var(--border);
  padding: 0.5em 1em;
}

.highlight {
	background-color: var(--fancy-yellow);
}

dialog {
	position: fixed;
  top: 1em;
  right: 0;
  border: var(--border);
}
dialog::backdrop{
  background: rgba(0,0,0,0.5);
}

#close-btn{
  border: var(--border);
  background-color: var(--fancy-red);
  color: #f0f0f0;
  cursor: pointer;
}

#open-filters{
	border: none;
	background-color: var(--fancy-red);
	color: #f0f0f0;
	font-size: 18px;
	padding: 5px;
}

#open-filters:hover{
	cursor: pointer;
}

form{
  display: none;
}

.visible-form{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.checkbox-group{
  display: flex;
  gap: 5px;
  justify-content: baseline;
}
